.markdown p, .markdown pre {
    margin: 10px 0;
}

.markdown {
    word-wrap: break-word;
}

.inlineCode {
    display: inline;
    padding: 0 3px;
    margin: 0 2px;
    color: #3c3836;
    background: #fbf1c7;
}
