.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ant-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.gradient-loader {
    margin-top: 1px;
    border-radius: 50%;
    background-image: conic-gradient(rgba(130, 224, 170, 0.2), rgb(130, 224, 170, 1));
    animation: turn-around 1s linear infinite;
    display: inline-block;
}

@keyframes turn-around {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.empty-img {
    width: 80px;
    opacity: 0.6;
}

.jailbreak-img {
    width: 60px;
    opacity: 0.8;
}